<h2>Регистрация</h2>
<form>
	<p>
		<label>Логин</label><br>
		<input type="text" name="username" [(ngModel)]="newUser.username">
	</p>
	<p>
		<label>Email</label><br>
		<input type="text" name="email" [(ngModel)]="newUser.email">
	</p>
  	<p>
  		<label>Телефон</label><br>
  		<input type="text" name="phone" [(ngModel)]="newUser.phone">
  	</p>
  	<p>
  		<label>Пароль</label><br>
  		<input type="password" name="password" [(ngModel)]="newUser.password">
  	</p>
  	<button type="button" (click)="submitForm()">Ок</button>
</form>
