<h2>Orders</h2>
<mat-table #table [dataSource]="ordersDataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="userFullName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ФИО </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.userFullName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="departureAddress">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Адрес отправления </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.departureAddress}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="destinationAddress">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Адрес получения </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.destinationAddress}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="itemsCount">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Кол-во позиций </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.itemsCount}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
