<h2>Личный кабинет</h2>
<div><span>Логин: </span>{{personalArea.login}}</div>
<div><span>Имя: </span>{{personalArea.name}}</div>
<div><span>Фамилия: </span>{{personalArea.lastName}}</div>
<div><span>Отчество: </span>{{personalArea.midleName}}</div>
<div><span>E-mail: </span>{{personalArea.eMail}}</div>
<div><span>Адрес: </span>{{personalArea.pfNum}}</div>
<div><span>Номер телефона: </span>{{personalArea.address}}</div>
