<h2>Авторизация</h2>
<form>
	<p>
		<label>Логин</label><br>
		<input type="text" name="username" [(ngModel)]="authorizationData.username">
	</p>
  	<p>
  		<label>Пароль</label><br>
  		<input type="password" name="password" [(ngModel)]="authorizationData.password">
  	</p>
  	<button type="button" (click)="submitForm()">Войти</button>
</form>
