<div class="navBar">
  <a routerLink="/"><div class="active">место для логотипа </div></a>
  <a routerLink="TariffCalculator"><div>клькулятор тарифов </div></a>
  <a routerLink="TrackProduct"><div>отследить товар </div></a>
  <a routerLink="Help"><div>онлайн звонок/помощь </div></a>
  <a routerLink="PrivateOffice"><div>личный кабинет</div></a>
  <a routerLink="orders"><div>Заказы</div></a>
  <a routerLink="personal-area"><div>personal-area</div></a>
  <a routerLink="registration"><div>Регистрация</div></a>
  <a routerLink="authorization"><div>Авторизация</div></a>
</div>
<router-outlet></router-outlet>
