/*a {
  text-decoration: none;
}
.navBar > a{
  display: inline-block;
  height: 20px;
}
.navBar > a:first-child{
  width: 15%;
  float: left;
}
.navBar > a:last-child{
  width: 15%;
  float: right;
}
.navBar > a{
  width: calc(70% / 6)
}*/
